/**************************
	Variables
**************************/
$primary-color : #04b0d5; //blue
$secondary-color : #b637c1; //purple
$heading-font: 'Montserrat', sans-serif;
$base-font: 'Arimo', sans-serif;
