<div id="my-carousel" class="carousel carousel-fade slide jumbotron" data-ride="carousel">
    <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <h1 class="carousel-heading">Unravel your outer beauty</h1>
            <div class="item active">
                <p class="carousel-text">
                    Peace, Love, and Skin Care.
                </p>
                <img class="carousel-img" src="img/Model1.jpg" alt="Close up of female woman hands applying hand cream, asian, focus on hand.">
            </div>
            <div class="item">
                <p class="carousel-text">
                    Affordable and effective products.
                </p>
                <img class="carousel-img" src="img/Model2.jpg" alt="Close up of female woman hands applying hand cream, asian, focus on hand.">
            </div>
            <div class="item">
                <p class="carousel-text">
                    Get the skin treatment you deserve.
                </p>
                <img class="carousel-img" src="img/Model3.jpg" alt="Close up of female woman hands applying hand cream, asian.">
            </div>
            <div class="social-media">
                <p>Connect With Us</p>
                <ul>
                    <li class="social-icon">
                        <a href="https://www.facebook.com/eriazanskinclinic" target="_blank" class="icon-facebook2"></a>
                    </li>
                    <li class="social-icon">
                        <a href="https://instagram.com/eriazanskinclinic/" target="_blank" class="icon-instagram"></a>
                    </li>
                    <li class="social-icon">
                        <a href="https://twitter.com/eriazanskinclinic" target="_blank" class="icon-twitter2"></a>
                    </li>
                </ul>
            </div>
        </div>

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#my-carousel" data-slide-to="1"></li>
        <li data-target="#my-carousel" data-slide-to="2"></li>
    </ol>
</div>
